.ccm-social-share { margin: 10px 0; }
.ccm-social-share ul, .ccm-social-share ul li > span, .ccm-social-share ul li > a { margin: 0 !important; padding: 0 !important; float: none !important;}
.ccm-social-share li { display: inline !important; margin: 0 5px 5px 0; list-style: none !important; }
.ccm-social-share .tumblr-button { display:inline-block; text-indent:-9999px; overflow:hidden; width:81px; height:20px; background:url('http://platform.tumblr.com/v1/share_1.png') top left no-repeat transparent; }
.ccm-social-share .pocket-btn, .ccm-social-share .line { display: inline-block; }
.ccm-social-share .line img { vertical-align: baseline; }
.ccm-social-share .fb_iframe_widget {width: auto !important; display: inline-block !important;}
.ccm-social-share .fb_iframe_widget > span {vertical-align: baseline !important;}
.ccm-social-share .hatena-bookmark-button-frame, .ccm-social-share .tumblr-button {vertical-align:baseline;}