.icon-container {
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
}
.icon-container a:first-child {
    margin-left: 0 !important;
}
.icon-clearfix:before,
.icon-clearfix:after {
   content: "";
   display: table;
}
.icon-clearfix:after {
    clear: both;
}