# BEGIN heteml
# 注意:
# このブロックはヘテムルのコントロールパネルによって作成されました。
# # BEGIN heteml 〜 # END heteml は編集を行わないようにご注意ください。

# AuthUserFile /home/sites/heteml/users/k/o/u/koujikozaki/web/lodc.jp/2015/.htpasswd
# AuthGroupFile /dev/null
# AuthName "Please input ID and Password."
# AuthType Basic
# require valid-user
Options +Indexes

# END heteml
