@charset "utf-8";

/*--------------------------------------*/
/* サイト全体の共通設定 */
/*--------------------------------------*/

strong{
	font-weight: bold;
	font-size: 14px;
	display: block;
	margin-bottom: 10px;
	border-bottom: solid 2px;
    	padding: 3px 7px;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.7em;
}

.toplogo {
	width: 350px;
}

/*--------------------------------------*/
/* メインイメージに関する指定 p#mainImg */
/*--------------------------------------*/

div#mainImgBox{
	width: 100%;
	margin:30px auto 45px;
	text-align: left;
	width: 960px;
	position: relative;
}
a.list_button {
    width: 80px;
    border: solid 1px #bc2a30;
    text-align: center;
    color: #bc2a30;
    position: absolute;
    display: block;
    text-decoration: none;
}
a.list_button:hover {
    color: rgba(187, 42, 47, 0.7);
    text-decoration: none;
}
#list_i {
    top: 250px;
    left: 65px;
}
#list_d {
    top: 310px;
    left: 250px;
}
#list_a {
    top: 250px;
    left: 440px;
}
#list_v {
    top: 310px;
    left: 620px;
}
#list_b {
    top: 250px;
    left: 810px;
}

/*--------------------------------------*/

div#wBg{
	background: #fff;
}

div#mainContents{
	width: 960px;
	margin: 0 auto;
	text-align: left;

}
div#mainContents .leftcontainer {
	width: 680px;
	float: left;
}
#mainContents #entry_button {
    background: #FFF;
    padding: 10px;
    font-size: 2.5em;
    color: #BC2A30;
    width: 500px;
    text-align: center;
    margin: 10px auto;
}

/* 3つのトピックス */
div#mainContents div.topicsBox{
	width: 295px;
	float: left;
	margin-left: 33px;
	margin-bottom: 60px;
}
div#mainContents div.firstItem{
	margin-left: 0;
}
div#mainContents div.topicsBox strong{
	margin-bottom: 15px;
	font-weight: bold;
	display: block;
	font-size: 14px;
}
div#mainContents div.topicsBox span{
	line-height: 1.8;
	display: block;
	text-align: justify;
	margin-bottom: 8px;
}

/* 新着情報 */

div#newTopics{
	float: left;
}
div#newTopics strong{
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 8px;
	display: block;
	font-size: 14px;
}
div#newTopics dl{
	width: 640px;
	border-bottom: 1px solid #ddd;
}
div#newTopics dl dt,
div#newTopics dl dd{
	padding: 8px 0;
	border-top: 1px solid #ddd;
}
div#newTopics dl dt{
	float:left;
	width:80px;
	padding-left: 10px;
	clear:both;
	background: #F6F5F0;
	color: #7D663A;
}
div#newTopics dl dd{
	width:525px;
	margin-left:90px;
	padding-left: 20px;
	border-left:1px solid #ddd;
}
div#newTopics dl dd a{
	color: #666;
	text-decoration: none;
}
div#newTopics dl dd a:hover{
	text-decoration: underline;
}

/* バナーエリア */
div#bannerBox{
	float: right;
	width: 250px;
}
div#bannerBox ul li{
	margin-bottom: 15px;
}

/*--------------------------------------*/
/* committee */
/*--------------------------------------*/

#aboutcommittee, #wanted {
    margin-bottom: 50px;
}

#member li {
    display: block;
    float: left;
    width: 200px;
    height: 310px;
    margin-right: 20px;
}

#member .portrait {
    width: 200px;
    margin-bottom: 5px;
}

#member .role {
    font-weight: bold;
}

#member .name {
    font-size: 1.4em;
}

/*--------------------------------------*/
/* entry */
/*--------------------------------------*/

#entry h2, #criteria h2 {
    background: #F6F5F0;
    color: #7D663A;
    margin: 15px 0;
    padding: 5px;
}

#entry ul {
	margin: 15px 0;
}

#entry li {
	list-style: disc;
	list-style-position: inside;
}

#entry dt {
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 10px;
}

#entry dd {
	margin-left: 20px;
}

/*--------------------------------------*/
/* criteria */
/*--------------------------------------*/

#criteria dl {
	list-style: decimal inside;
}
}