.youtubeBlock.responsive {
	width: 100%;
	max-width: 100%;
	position: relative;
	overflow: hidden;
	height: 0;
	padding-top: 35px;
}
.youtubeBlock.responsive iframe,.youtubeBlock.responsive embed,.youtubeBlock.responsive object {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
