/* stylesheet of resource.html */
h2 {
  font-size: 25px;
  color: #808080;
  font-weight: bold;
  margin-top: 10px;
}

h3.partner-type {
  font-size: 25px;
  color: #808080;
  margin-top: 20px;
  font-weight: bold;
}


ul.partner-list li {
  font-size: 15px;
}

ul.partner-list li a {
  text-decoration: none;
}

div.partner-detail-list {
  margin-top: 10px;
}

.partner-detail-list-element h4 {
  color: rgb(247, 150, 70);
  font-size: 20px;
  font-weight: bold;
  padding: 3px 7px;
  border-bottom: solid 2px;
  margin-bottom: 10px;
}

table.partner-table th {
  width: 15%;
  font-size: 15px;
}

table.partner-table th, td {
  border-top: 1px solid #ddd;
  padding: 8px;
}

table.partner-table tr:nth-child(even) {
  background-color: #fff;
}

table.partner-table tr:nth-child(odd) {
  background-color: #f9f9f9;
}
