.simple_square .jp-audio {
  position: relative;
}
.simple_square .jp-audio .jp-interface {
  position: relative;
  width: 40px;
  height: 40px;
}
.simple_square .jp-audio .jp-interface .jp-controls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #111;
}
.simple_square .jp-audio .jp-interface .jp-controls .jp-play,
.simple_square .jp-audio .jp-interface .jp-controls .jp-stop {
  cursor: pointer;
  position: absolute;
  color: #eee;
  line-height: 40px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  vertical-align: middle;
}
.simple_square .jp-audio .jp-interface .jp-controls .jp-play:hover,
.simple_square .jp-audio .jp-interface .jp-controls .jp-stop:hover {
  color: #ccc;
}
.simple_square .jp-audio .jp-interface .jp-controls .jp-play {
  font-size: 23px;
}
.simple_square .jp-audio .jp-interface .jp-controls .jp-stop {
  display: none;
  font-size: 17px;
}
.simple_square .jp-audio .jp-details ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.simple_square .jp-audio .jp-no-solution {
  padding: 5px;
  width: 150px;
  font-size: .8em;
  background-color: #eee;
  border: 1px solid #333;
  color: #222;
  display: none;
}
.simple_square .jp-audio .jp-no-solution a {
  color: #000;
}
.simple_square .jp-audio .jp-no-solution span {
  font-size: 1em;
  display: block;
  text-align: center;
  font-weight: bold;
}
.simple_square .jp-jplayer audio,
.simple_square .jp-jplayer {
  width: 0px;
  height: 0px;
}
