@charset "utf-8";

/*---------------------------------------------------

File name:      layout.css
Author:         Scholex co., ltd.
update:         2011/09/24

--------------------------------------------------- */

#wrapperAll {
	background: url(../img/bg_contents.png) no-repeat 0 0 transparent;
	min-height: 651px;
	width: 960px;
	margin: 0 auto;
}

#header {
	width:935px;
	height:40px;
	margin: 0 auto;
	text-align: left;
	padding: 25px 0px 0px 25px;
}

#header h1 {
	padding: 0 0 0 20px;
}

#mainBK {
	width:880px;
	padding:0 40px;
}

#mainMenu {
	margin: 10px 0 0 0;
	padding:0;
	height:75px;
	background: url(../img/bg_nm.png) no-repeat 50% 100% transparent;
}

#mainVisual {
	padding: 40px 0;
}

#nav {
	padding: 0 0 20px 60px;
}

#nav li {
	font-family: garamond,"ヒラギノ明朝 Pro W3","Hiragino Mincho Pro",arial,"メイリオ",Meiryo,serif;
	font-size:1.4em;
	padding: 0px 25px 0px 25px;
	background: url(../img/hn_pochi2.png) no-repeat 0% 58% transparent;
	display: block;
	min-width: 50px;
}

#nav li a {
	text-decoration: none;
	color: #666666;
	display: block;
	padding: 30px 0 0 0;
	height: 45px;
}

#nav li.hmActive {
	background: url(../img/hn_pochi.png) no-repeat 0% 58% transparent;	
}

#nav li ul {
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-box-shadow: 1px 2px 3px #666;
	-webkit-box-shadow: 1px 2px 3px #666;
	left:20px;
	min-width: 120px;
}

#nav li ul li {
	text-align: left;
	font-size: 0.8em;
	padding: 0px 0px;
	background-image: none;
	background-color: #EEEEEE;
}

#nav li ul li a {
	height: auto;
	padding: 10px 10px;
	border-bottom: 1px #CCC solid;
	text-decoration: none;
}

#nav li ul li a:hover {
	background-color: #FCFCFC;
}

#contentsBK {
	text-align: left;
	padding: 0 40px 40px 40px;
}

#contentsBK h2 {
	font-size: 2em;
	font-weight: normal;
	font-family: garamond,"ヒラギノ明朝 Pro W3","Hiragino Mincho Pro",arial,"メイリオ",Meiryo,serif;
	margin: 20px 0 20px 0;
}

#footer {
	background-color: #eeeeee;
}

#footerPankuzu {
	background-color: #ffffff;
	border-top: 1px #CCC solid;
	padding: 8px 0px;
	max-height: 40px;
	overflow-y: hidden;
}

#footerPankuzu ul {
	width: 880px;
	padding: 0px 40px;
	margin: 0 auto;
	text-align: left;
}

#footerPankuzu ul li {
	display: inline;
	padding: 10px 10px 10px 40px;
}

#footerPankuzu ul li a {
	text-decoration: none;
}

#footerPankuzu ul li:first-child {;
	padding: 10px 10px 10px 20px;
	background: url(../img/hn_pochi2.png) no-repeat 0% 50% transparent;
}

#footerPankuzu ul li {
	background: url(../img/arrow.gif) no-repeat 0% 50% transparent;
}

#footerBody {
	width:920px;
	margin: 0 auto;
	text-align: left;
}

#footerBody h3 {
	padding: 20px 20px;
}

#btmSponsorBK ul li {
	display: inline;
	margin: 0 20px 0px 20px;
}

#btmSponsorBK ul li img {
	padding: 0 0 20px 0;
}

#footerMenu {
	text-align: center;
	padding: 20px 0 10px 0;
	position: relative;
}

#facebook {
	position: absolute;
	bottom:10px;
	right:0;
}

#facebook img {
	border: 1px #CCC solid;
} 

#footerMenu ul li {
	display: inline;
	padding: 0px 20px;
	border-right: 1px #CCC solid;
}

#footerMenu ul li:last-child {
	border-right: none;
}

#credit {
	padding: 0px 0 20px 0;
	text-align:center;
}



.numberList {

}

.numberList li {
	margin-left: 20px;
	margin-bottom:1em; 
	list-style-type: decimal;
}

#contentsBK h3 {
	font-size: 1.4em;
	margin: 1.4em 0;
	font-weight: normal;
	font-family: garamond,"ヒラギノ明朝 Pro W3","Hiragino Mincho Pro",arial,"メイリオ",Meiryo,serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px #CCCCCC solid;
	padding: 5px 10px;
	background-color: #FFFFFF;
}

#contentsBK h4 {
	font-size: 1em;
	margin: 1em 0;
	color: #993300;
}
#contentsBK ul {
	margin: 20px 0;
}

#contentsBK ul li {
	margin-left: 3em;
	list-style-type: disc;
	margin-bottom: 1.4em;
}

.roundedColumn {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px #CCC solid;
	padding: 10px 20px;
}

.withArrow {
	background: url(../img/arrow_dt.png) no-repeat 0% 50% transparent;
	padding: 0 0 0 30px;
	margin:1em 0 2em 0;
	line-height: 18px;

}

#contentsBK ul,
#contentsBK ol {
	margin:1em 0;
}

.categoeyBX {
	width:210px;
	padding: 20px;
	margin: 0 5px;
	float:left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px #CCC solid;
	text-align: center;
}

.categoeyBX img {
	text-align: center;
}

.entrybtn {
	margin: 10px 0 0 0;
}

#recruitment {
	margin-bottom: 20px;
}

#recruitment h3 {
	border: none;
}

#sponsorBK h3 {
	border: none;
}

.attentionBX {
	padding: 10px 20px;
	margin: 20px 0;
	background-color: #e6e6c8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px #cccc99 solid;
}

.kome {
	text-indent: -1em;
	margin-left: 1em;
}


#contentsBK .categoryTitle {
	padding: 10px 20px;
	margin: 10px 0 20px 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px #CCC solid;
}

#contentsBK .categoryTitle h3 {
	margin: 5px 0;
	border: none;
	background-color: #FFFFFF;
	padding-left: 60px;
}

#contentsBK .categoryTitle img {
	vertical-align: middle;
}

#contentsBK dl {
	margin-bottom: 2em;
}

#contentsBK dl dt {
	margin-left: 20px;
}

#contentsBK dl dt {
	font-weight: bold;
}

#contentsBK dl dd {
	margin-left: 10em;
	margin-top: -1.6em;
	margin-bottom:1em;
}

#contentsBK .toReference {
	padding: 2em 20px 0 2em;
	margin: 10px 0 20px 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px #CCC solid;
}

#contentsBK dl.toReference dt {
	margin-left: 0;
}

#contentsBK dl.toReference dd {
	margin-left: 15em;
}

.iconDataS,
.iconIdeaS,
.iconAppliS {
	padding: 0 0 0 60px;
	line-height: 46px;
}

.iconDataS {
	background: url(../img/icon_data_s.png) no-repeat 0% 50% transparent;
}

.iconIdeaS {
	background: url(../img/icon_idea_s.png) no-repeat 0% 50% transparent;
}

.iconAppliS {
	background: url(../img/icon_appli_s.png) no-repeat 0% 50% transparent;
}

.categoryBody {
	padding: 20px;
}

.portraitImg img {
	border: 1px solid #CCC;
	padding: 2px;
}

.roundedBorder{
	padding: 20px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px #CCC solid;
}

.imgCaption {
	font-style: italic;
	text-align: right;
}

.fb-like-box {
	padding: 20px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px #CCC solid;
}

#sponsorBK ul li {
	display: inline;
	margin: 0 20px 0px 20px;
}

#sponsorBK ul li img {
	padding: 0 0 20px 0;
}

.sponsorLogo img {
	margin: 2em 0;
}

#contentsBK #supporterList li {
	margin: 1em 0 1m 40px;
	padding: 0;
	font-size: 1.4em;
	font-weight: normal;
	font-family: garamond,"ヒラギノ明朝 Pro W3","Hiragino Mincho Pro",arial,"メイリオ",Meiryo,serif;
}

#sponsorBKMain ul,
#sponsorBKGold ul {
	list-style-type: none;
}

#sponsorBKMain ul li {
	display: block;
	float:left;
	text-align: center;
	margin: 0;
	width:260px;
}

#sponsorBKGold ul li {
	display: block;
	float:left;
	text-align: center;
	width:200px;
}

.sponsorName {
	display: block;
	padding: 1em 0;
}

.indexTable {
	width:600px;
	margin-top: 20px;
}

.indexTable td,
.indexTable th {
	border: 1px solid #CCC;
	padding: 1em;
}

.indexTable th {
	color: #666;
	width:200px;
	background: #EEEEEE;
}

#aboutChallengeDay {
	padding: 20px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px #CCC solid;
}

#aboutChallengeDay h3 {
	border: none;
	margin: 0 0 1em 0;;
	padding: 0;
}

#aboutChallengeDay h4 {
	font-size:1.4em;
	font-weight: normal;
}

ul.goldSponsors li img {
	padding:0;
	border: #CCC solid 1px;
	background-color: #FFFFFF;
}

#btmSponsorBK ul.goldSponsors li {
	padding: 5px;
}

#btmSponsorBK ul.goldSponsors li img {
	padding: 0;
}

.commentBx {
	padding: 0px 20px 0 130px;
	background: url(../img/quote.gif) transparent 0 0 no-repeat;

}

.name {
	margin-top: 1em;
	color: #666633;
	text-align: right;
	font-style: oblique;
	font-weight: bold;
}

#footerBody h3.footerDataPartner {
	font-size: 1.4em;
	margin: 1.4em 0;
	font-weight: normal;
	font-family: garamond,"ヒラギノ明朝 Pro W3","Hiragino Mincho Pro",arial,"メイリオ",Meiryo,serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px #CCCCCC solid;
	padding: 5px 10px;
	color:#FFFFFF;
	background-color: #999999;
}

#prizeList h4 {
	font-size:1.4em;
	font-weight: normal;
	color:#666633;
}

#prizeList h5 {
	font-size:1.4em;
	font-weight: normal;
	color:#000000;
}

#prizeList .prize {
	font-size: 1.2em;
}

#prizeList span {
	color:#cc3333;
	font-size: 1.2em; 
}

.orijinalTable th,
.orijinalTable td {
	padding: 5px;
	vertical-align: top;
}

.roundBox {
	margin: 20px 0 0 0;
	padding: 20px 40px;
		-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px #CCCCCC solid;
}